* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background: radial-gradient(200% 80%, rgb(255, 255, 255), rgb(255, 244, 147));
    /* background-color: black; */
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: content-box;
    border-radius: 50px;
    height: 780px;
    width: 900px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(207, 31, 43);
    position: relative;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0px auto;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: 48px;
    /* display: none; */
}


.options {
    margin-top: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: auto;
    height: inherit;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
}

.screen-container {
    width: 612px;
    height: 612px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.screen {
    box-sizing: content-box;
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    width: 600px;
    background-color: white;
    border: 3px ridge rgb(71, 71, 71);
}

.screen:hover {
    border: 5px groove rgb(71, 71, 71);

}

.box {
    border: 0.1px solid black;
    margin: 0px;
    padding: 0px;
    flex: 1 1 auto;
}

button {
    background: rgb(231, 225, 225);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    border: none;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

p {
    /* border: 1px solid black; */
    margin: 10px 0;
    color: inherit;
}

.button-and-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

button:active {
    background: rgb(255, 255, 255);
    transform: rotate(90deg);
}

button:hover {
    background-color: rgb(255, 255, 255);
}

.inner {
    color: rgb(207, 31, 43);
    position: absolute;
    top: 5px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

footer {
    position: fixed;
    font-size: 20px;
    color: black;
    bottom: 0px;
    /* border: 1px solid black; */
    height: 50px;
    width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

span a {
    text-decoration: none;
}

footer span {
    font-family: 'Hammersmith One', sans-serif;
    color: rgb(158, 197, 65);
    font-size: 18px;
    opacity: 0;
    transition: all .4s 2s;
}

footer:hover span {
    opacity: 1;
    transition: all .4s;
}

.heart{
    color: rgb(252, 80, 80);
}

a:visited {
    color: rgb(158, 197, 65);
}

a:hover {
    color: rgb(48, 161, 86);
}