* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: content-box;
    border: 20px solid green;
    border-radius: 10%;
    height: 700px;
    width: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

.options {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 100%;
}

.screen {
    box-sizing: content-box;
    border: 1px solid pink;
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    width: 600px;
}

.box {
    border: 0.1px solid black;
    margin: 0px;
    padding: 0px;
}

button {
    height: 50px;
    width: 100px;
}