* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background: radial-gradient(200% 80%, rgb(255, 255, 255), rgb(255, 244, 147));
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.gamebox {
    box-sizing: content-box;
    position: relative;
    height: 780px;
    width: 900px;
    border-radius: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(207, 31, 43);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.gamebox h1 {
    margin: 0px auto;
    position: absolute;
    top: 40px;
    font-family: 'Fugaz One', cursive;
    font-size: 48px;
}

.options {
    margin-top: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: auto;
    height: 600px;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
}

.outer-container {
    width: 612px;
    height: 612px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: content-box;
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    width: 600px;
    background-color: white;
    border: 3px ridge rgb(71, 71, 71);
}

.container:hover {
    border: 5px groove rgb(71, 71, 71);
}

.box {
    border: 0.1px solid rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    flex: 1 1 auto;
}

button {
    background: rgb(231, 225, 225);
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.button-and-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


.pressed {
    background: rgb(255, 255, 255);
    transform: rotate(90deg);
}


button:hover {
    background-color: rgb(255, 255, 255);
}

.inner {
    color: rgb(207, 31, 43);
    position: absolute;
    top: 4px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

footer {
    position: fixed;
    font-size: 20px;
    bottom: 0px;
    height: 50px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: end;
}

footer span {
    font-family: 'Hammersmith One', sans-serif;
    color: rgb(158, 197, 65);
    font-size: 18px;
    opacity: 0;
    transition: all .4s 2s;
}

.heart{
    color: rgb(252, 80, 80);
}

footer span a {
    text-decoration: none;
}

a:visited {
    color: rgb(158, 197, 65);
}

a:hover {
    color: rgb(48, 161, 86);
}

footer:hover span {
    opacity: 1;
    transition: all .4s;
}